* {
	margin:0;
	padding:0;	
	box-sizing:content-box;
	font-family: 'PT Serif', serif;	
}
.header {
	width:100%;
	min-height: 100vh;
	background-image: url('HomePage Images/water splash.jpg');
	background-position:center;
	background-size: cover;
	//position:relative;
}
.nav {
    padding-right:2.6%;
	margin-bottom:-3%;
}
.nav-link {
	//border:1px solid red;
	margin-top:3%;
}
img {
	//border:1px solid red;
}
i {
	//border:1px solid white;
	height:40px;
	width:40px;
	margin:0 11px 11px 2px;
	line-height:40px;
	background:#586cb3;
	border-radius:50%;
	color:white;
}
svg {
	position:absolute;
	bottom:0;
	left: 0;
	right:0;
}